* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
    background-color: #D4D3BA;
    font-family: 'Istok Web', 'Hind Kochi', 'Gothic A1', Calibri;
  }
  