* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
    background-color: #D4D3BA;
    font-family: 'Istok Web', 'Hind Kochi', 'Gothic A1', Calibri;
  }

  /*header*/
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }

  #headerLinks {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }

  #header button {
    border-radius: 10px;
    background-color: black;
  }

  #header a {
    text-decoration: none;
    color: black;
  }

  #header button a {
    text-decoration: none;
    color: white;
  }

  /*headline*/
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    font-size: 300%;
  }

  /*projects*/
  #projects {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  #projects h2 {
    padding-left: 100px;
  }

  #b {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #projects #projectBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 0 20px;
    background-color: blanchedalmond;
    height: 600px;
    width: 600px;
    margin: 30px;
    border-radius: 30px;
    font-size: 150%;
    -webkit-box-shadow: 3px -1px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -1px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -1px 26px 0px rgba(0,0,0,0.75);
  }

  #projectBox img {
    border-radius: 10px;
  }

  /*contact*/
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 456px;
    padding-left: 100px;
    font-size: 150%;
  }

  /*footer*/
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
  }

  #footer #footerName {
    font-weight: bold;
  }

  #footer img {
    height: 30px;
  }
  